.GameItem {
  background-color: #27272b;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 14px -4px rgba(3, 3, 3, 0.651);
  border-radius: 4px;
}

.GameItem:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.GameItem h3 {
  margin: 10px 0;
}

.GameItem img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
