.GamesSorting {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.GamesSorting__select {
  margin-right: 20px;
  background-color: #27272b;
  color: inherit;
  border: 1px solid #434343;
  padding: 5px;
  outline: none;
  border-radius: 4px;
}

@media (max-width: 576px) {
  .GamesSorting {
    justify-content: center;
  }

  .GamesSorting__select {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0;
  }
}
