.GamesPagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.GamesPagination__page {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #434343;
  margin: 0 10px;
  border-radius: 4px;
}

.GamesPagination__page:last-child {
  margin-right: 0;
}

.GamesPagination__page:hover {
  box-shadow: 0px 5px 14px -4px rgba(3, 3, 3, 0.651);
}

@media (max-width: 576px) {
  .GamesPagination {
    flex-wrap: wrap;
  }

  .GamesPagination__page {
    margin-bottom: 20px;
  }
}
